<!DOCTYPE html>
<html>
<head>
    <title>popBox</title>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="../../../../css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../../../../css/base.css" type="text/css" />
    <link rel="stylesheet" href="popBox.css" type="text/css" />
</head>
<body>
    <div style="margin:60px auto 0;">
        <p><a href="javascript:;" id="c1">A default popup box</a></p>	  
        <p><a href="javascript:;" id="c2">A popup box with optional settings</a></p>	  
        <p><a href="javascript:;" id="c3">A popup box with button callback</a></p>	
        <div id="msg" style="margin-top:50px;"></div>		
    </div>
    <script type="text/javascript" src="../../src/dj.js"></script>
    <script type="text/javascript" src="../../src/util.js"></script>
    <script type="text/javascript" src="../../src/className.js"></script>
    <script type="text/javascript" src="../../src/event.js"></script>
    <script type="text/javascript" src="popBox.js"></script>
    <script type="text/javascript" src="../overlay.js"></script>

    <script type="text/javascript">
        var $ = function(id){
            return document.getElementById(id);
        };

        var c1 = $('c1'),
            c2 = $('c2'),
            c3 = $('c3'),
            msg = $('msg'),
            p1,
            p2,
            p3;


        DJ.bind(c1, 'click', function(){
            p1 = new popBox();
        });

        DJ.bind(c2, 'click', function(){
            p2 = new popBox({
                content: 'Auto close after 2 seconds,<br /> with no title or no button',
                width: '250px',
                closeButton: false,
                closeDelay: 2000
            });
        });

        DJ.bind(c3, 'click', function(){
            p3 = new popBox({
                title: 'With button callback',
                content: 'call a function to do something after clicking a button',
                width: '300px',
                okButton: true,
                okCallback: function(){
                    msg.innerHTML = msg.innerHTML + 'click OK button<br />';
                },
                cancelButton: true,
                cancelCallback: function(){
                    msg.innerHTML = msg.innerHTML + 'click cancel button<br />';
                }
            });
        });
    </script>
</body>
</html>
