<!DOCTYPE html>
<html>
<head>
  <title>popBox</title>
  <meta charset = "utf-8" />
  <link rel="stylesheet" href="../../css/reset.css" type="text/css" />
  <link rel="stylesheet" href="../../css/base.css" type="text/css" />
  <link rel="stylesheet" href="popBox.css" type="text/css" />
</head>
<body>
	<div style="margin:60px auto 0;">
		<p><a href="javascript:;" id="c1">A default popup box</a></p>	  
		<p><a href="javascript:;" id="c2">A popup box with optional settings</a></p>	  
		<p><a href="javascript:;" id="c3">A popup box with button callback</a></p>	
	  	<div id="msg" style="margin-top:50px;"></div>		
	</div>

  <script src="../util.js" type="text/javascript"></script>
  <script src="../event.js" type="text/javascript"></script>
  <script src="popBox.js" type="text/javascript"></script>
  <script type="text/javascript">
  // <![CDATA[
    var $ = function(id){
      return document.getElementById(id);
    };
    
    var c1 = $('c1'),
        c2 = $('c2'),
        c3 = $('c3'),
        msg = $('msg');
    
    
    addEventSimple(c1, 'click', function(){
      new popBox();
    });
    
    addEventSimple(c2, 'click', function(){
      new popBox({
      	content: 'Auto close after 2 seconds,<br /> with no title or no button',
		width: '250px',
      	closeButton: false,
      	closeDelay: 2000
      });
    });
    
    addEventSimple(c3, 'click', function(){
      new popBox({
      	title: 'With button callback',
      	content: 'call a function to do something after clicking a button',
		width: '300px',
      	okButton: true,
      	okcallback: function(){
      		msg.innerHTML = msg.innerHTML + 'click OK button<br />';
      	},
      	cancelButton: true,
      	cancelCallback: function(){
      		msg.innerHTML = msg.innerHTML + 'click cancel button<br />';
      	}
      });
    });
  // ]]>
  </script>
</body>
</html>
