.popBox{
	position:relative;
	border:5px solid #ccc;
	background: white;
	line-height:1.2;
}
.popBox .dHead{
	position:relative;
	background:#232323;
	color:white;
	height:30px;
}
.popBox .dHead .title{
	font-weight:bold;
	font-size:14px;
	margin-right:30px;
	margin-left:10px;
	line-height:30px;
}
.popBox .dHead .close{
	color:white;
	position:absolute;
	padding:3px;
	right:7px;
	top:3px;
	text-decoration:none;
	font-size:16px;
}
.popBox .dBody{
	padding:10px;
	min-height:20px;
}
.popBox .dBottom{
	background:#F0F0F0;
	height:32px;
	padding-top:7px;
	padding-left:10px;
}
.popBox .dBottom .btn{
	float:right;
	height:24px;
	line-height:24px;
	margin-right:10px;
	width:90px;
	color:#000;
	background:white;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
	text-align:center;
	opacity:0.8;
}
.popBox .dBottom .btn:hover{
	opacity:1;	
}
